@font-face {
    font-family: 'Comp'; /*a name to be used later*/
    src: url("./comp.ttf"); /*URL to font*/
}


* {
	text-align: center;
}


.container {
	margin: auto;
	text-align: center;
	width: 100%;
	padding: 20px;
}

video {
	position: fixed;
	z-index: -1;
}


canvas {
  width: 100px;
  height: 100px;
}

body {
	background: black;

}

h1 {
	text-align: left;
	color: white;
	font-size: 40px;
	font-family: comp;
}

p{
	width: 90%;
	display: inline-block;
}

span{
	font-size: 30px;
	font-family: comp;
	background-color: white;
	color: black;
	padding: 2px;
  display: inline-block;
}





